th {
    font-weight: normal;
    font-size: large;
}

tbody th {
    text-align: left;
}

.highlight, .chosen {
    background-color: #ffffbb;
}

th.highlight, .chosen {
    font-weight: bold;
}

.added {
    color: red;
    font-weight: bold;
}

.has-item {
    background-color: yellow;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.heading {
    font-weight: bold;
    color: #555555;
}

#expander {
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 15%;
    border: 2px solid;
    border-radius: 25px;
}